<p>
  <label for='{{ title_id }}'>{{ title_label }}</label>
  <input class='widefat' id='{{ title_id }}' name='{{ title_name }}' type='text' value='{{ title_value }}' />

  <input type="checkbox" class="checkbox" id="{{ ip_id }}" name="{{ ip_name }}" {{ ip_checked }} />
  <label for="{{ ip_id }}">{{ ip_label }}</label>
  <br />

  <input type="checkbox" class="checkbox" id="{{ country_id }}" name="{{ country_name }}" {{ country_checked }} />
  <label for="{{ country_id }}">{{ country_label }}</label>
  <br />

  <input type="checkbox" class="checkbox" id="{{ coords_id }}" name="{{ coords_name }}" {{ coords_checked }} />
  <label for="{{ coords_id }}">{{ coords_label }}</label>
  <br />
</p>
